*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
     font-size: 1.6rem;
    font-family: "Poppins" , sans-serif;
    
}

/* ===============================commom=========================== */

a{
    text-decoration: none;
}


.btn{
    text-align: center;
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color: #FFF;
    font-weight: 600;
    width: 144px;
    height: 49px;
    border-radius: 24.5px;
    background: #171100;
    

}

.header
{
    background: #FFFCF4;
}
.main-container
{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ==========================header====================== */
.header .body
{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav{
    margin-left: auto;
}
 .nav ul{
    display: flex;
}

.nav a{
    color: #5F5B53;
    padding: 8px 21px;
    position: relative;
}

.nav a.active,
.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 #171100;

}
.nav a.active::after
{
    position: absolute;
    display: block;
    content:"";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    left: 20px;
    bottom: 6px;
  
}


.header .btn-sign-up
{
    min-width: 144px;
}

.header.fixed{
    position:sticky;
    top: -28px;
}
.header .action{
    margin-left: 49px;
}

/* //// */
.hero
{
    padding-top: 56px;
    background: #FFFCF4;
   
}

.hero .body{
    display: flex;
}

.hero .media-block{
    width: 48%;
    position: relative;
}

.hero .content-block{
    width: 52%;
    margin-left: 130px;
}

.hero-summary
{
    padding: 24px;
    position: absolute;
    right: 0;;
    bottom: 48px;
    width: 270px;
    height: 244px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  

}

.hero-summary .item
{
     display: flex;
}


.hero-summary .icon
{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    fill: #FFF9E8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 16px;
}

.hero-summary .label{
    color: #5F5B53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.hero-summary .title
{
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.content-block .heading
{
    width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}

.content-block .desc{
    width: 470px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 22px 0 38px;
}

.hero .cta-group{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.cta-group .icon{
    width: 202px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.cta-group .icon img{
   
    border-radius: 50%;
}

.cta-group .icon span{
    width: 148px;
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    margin-left: 14px;
}

.btn.btn-see-course{
    width: 180px;
    height: 64px;
   line-height: 64px;
    border-radius: 32px;
    background: #FFB900;
}

.cta-group .play-video
{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content-block strong{
    color: #171100;
    font-family: Sen;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px; /* 122.727% */

}


/* popular  */
.popular
{
    background: #FFF;
    margin-top: 200px;
}
.popular .popular-top
{
    display: flex;
    align-items: center;
    margin-bottom: 55px;
   
}
.popular-top .heading
{
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}

.popular-top .content
{
    width: 458px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 16px;
}
.popular-top .icon{
    width: 98px;
    height: 40px;
    flex-shrink: 0;
    margin-left: auto;
}
.popular-bottom .box-img{


    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;

}
 

.popular-bottom .box 
{
    width: 370px;
    height: 466px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

 .box-size
{
    margin: 16px 22px 22px ;
}

.box .main-label
{
    display: flex;
}

.box .label-content
{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.box .label-content p{
    color: #FEA31B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-left: 4px;
}
.box .label
{
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.box  .title
{
    width: 326px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    margin-top: 6px;
}
.box .box-detail
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}



.testimonial
{
    background: #2E2100;
    margin-top: 200px;
}
.testimonial .body {
    display: flex;
    width: 1440px;
    height: 380px;
    align-items: center;
    
}


.testimonial .porfolio {
    width: 159px;
    height: 188px;
    flex-shrink: 0;

}
.testimonial .porfolio .img-present
{
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}
.testimonial .porfolio .img-text1
{
    color: #F7F7F7;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    margin-top: 18px;
}

.testimonial .porfolio .img-text2{
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    margin-top: 4px;
    margin-bottom: 28px;
}
.testimonial .text
{
    width: 770px;
    height: 188px;
    flex-shrink: 0;
    padding-left: 240px;
}
.testimonial .text .text-cotent
{
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height: 40px; /* 153.846% */
    width: 740px;
    margin-left: 30px;
}

.feature .body
{
    display: flex;
    margin-top: 200px;
}
.feature .images
{
    display: flex;
    width: 570px;
    height: 438px;
    flex-shrink: 0;
    position: relative;
}

.feature .images .img-1 ,.feature .images .img-2
{
    width: 270px;
    height: 405px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.feature .images .img-1{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.feature .images .img-2
{
    position: absolute;
    top: 0px;
    right: 0px;
}


/* text */
.feature .text
{
   
    width: 470px;
    height: 322px;
    flex-shrink: 0;
    margin-left: 130px;
    margin-top: auto;
    margin-bottom: auto  ;
    
   
}

.feature .text .heading
{
    width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}
.feature .text .content
{
    width: 458px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin: 16px 0px;
}

.feature .text .btn-sign-up-2
{
    width: 137px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFB900;
}

.CTA .body
{
    margin-top: 200px;
    display: flex;
}

.CTA .text
{
    margin: auto;
}

.CTA .heading
{
    width: 570px;
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}
.CTA .content
{
    width: 570px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin: 16px 0px 32px;
}

.CTA .btn-join-now
{
    width: 137px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #FFB900;
}

.CTA .images
{
    margin-left: 130px;
}

.Blog .body
{
    margin-top: 200px;
}

.Blog .text 
{
    width: 448px;
    height: 120px;
    flex-shrink: 0;
    margin: auto;
    margin-bottom: 55px;
}

.Blog .text .text-1
{
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}

.Blog .text .text-2
{
    width: 448px;
    color: #696262;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 16px;
   
}
.Blog .BlogPage
{
    display: flex;
    justify-content: space-between;
}
.Blog .blog
{
    width: 370px;
    height: 467px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.Blog .img{
    width: 370px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.Blog .Date{
    display: flex;
    margin: 20px;
}
.Blog .BlogPage .content
{
    width: 330px;
    color: #171100;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
    margin: 10px 20px;
}

.Blog .BlogPage .btn-read-more
{
    width: 118px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px;
  
}
.Blog .BlogPage .btn-read-more:hover
{
    background: #FFB900;
}
.que
{
    width: 160px;
    height: 1px;
    flex-shrink: 0;
    border-radius: 0.5px;
    background: #E2DFDA;
    margin-left: 20px;
    
}

.footer
{
    background: #2E2100;
 
}

.footer .body
{
    display: flex;
    margin-top: 200px;
    height: 428px;
    flex-shrink: 0;
   align-items: center;
   justify-content: space-between;
  
   
}

.footer .lesson
{
    width: 267px;
    height: 163px;
    flex-shrink: 0;
    color: #FFF;
    text-decoration: none;
}
.footer .icon-social ul{
    width: 111px;
    height: 15px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    
}
.footer .text-common
{
    margin: 18px 0px;
    width: 267px;
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}


.footer .company
{
    width: 130px;
    height: 211px;
    flex-shrink: 0;
}

.footer .common
{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
}

.footer .support
{
    width: 137px;
    height: 211px;
    flex-shrink: 0;
}
.footer .address
{
    width: 231px;
    height: 199px;
    flex-shrink: 0;
}
.footer .address p:nth-of-type(2)
{
    width: 231px;
}
.footer .lesson a{
    color: #FFF;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    
}
.footer .lesson span
{
    color: #FFB900;
    font-family: Sen;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}